Data Science Fundamentals: R |
[Table of Contents](../index.ipynb)
- - - 
<!--NAVIGATION-->
Module 15. [Date Time Values](./00.ipynb) | [readr](./01.ipynb) | [dplyr](./02.ipynb) | [Exercises](./03.ipynb)

# Data Transformation with R

## Exercises

In [18]:
install.packages("tidyverse")

also installing the dependency 'jsonlite'

  There is a binary version available but the source version is later:
         binary source needs_compilation
jsonlite  1.7.2  1.8.0              TRUE

  Binaries will be installed
package 'jsonlite' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'jsonlite'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\kahli\Anaconda3\envs\r tut\Lib\R\library\00LOCK\jsonlite\libs\x64\jsonlite.dll to C:\Users\kahli\Anaconda3\envs\r tut\Lib\R\library\jsonlite\libs\x64\jsonlite.dll: Permission denied"Warning message:
"restored 'jsonlite'"

package 'tidyverse' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\kahli\AppData\Local\Temp\RtmpQp5URc\downloaded_packages

### Exercise 1. 

List all example files available with the ```readr``` library.

In [19]:
# exercise 1
library(tidyverse)
library(readxl)

Warning message:
"package 'tidyverse' was built under R version 3.6.3"

ERROR: Error: package or namespace load failed for 'tidyverse' in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]):
 namespace 'jsonlite' 1.6 is already loaded, but >= 1.7.2 is required

### Exercise 2.

Read the mtcars.csv file.

In [20]:
# exercise 2
setwd("C:/Users/kahli/Desktop") 
mtcars <- read_csv(readr_example("mtcars.csv"))

-- Column specification --------------------------------------------------------
cols(
  mpg = col_double(),
  cyl = col_double(),
  disp = col_double(),
  hp = col_double(),
  drat = col_double(),
  wt = col_double(),
  qsec = col_double(),
  vs = col_double(),
  am = col_double(),
  gear = col_double(),
  carb = col_double()
)

### Exercise 3.

Read the first 10 lines from the mtcars.csv file.

In [21]:
# exercise 3
head(mtcars,10)

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
6  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
8  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
9  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
10 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4


### Exercise 4
Read the example.log file.

In [23]:
# exercise 4

read_log(readr_example("example.log"))

-- Column specification --------------------------------------------------------
cols(
  X1 = col_character(),
  X2 = col_logical(),
  X3 = col_character(),
  X4 = col_character(),
  X5 = col_character(),
  X6 = col_double(),
  X7 = col_double()
)

  X1           X2 X3                 X4
1 172.21.13.45 NA Microsoft\\JohnDoe 08/Apr/2001:17:39:04 -0800
2 127.0.0.1    NA frank              10/Oct/2000:13:55:36 -0700
  X5                                               X6  X7
1 GET /scripts/iisadmin/ism.dll?http/serv HTTP/1.0 200 3401
2 GET /apache_pb.gif HTTP/1.0                      200 2326

### Exercise 5
List all sheets in readxl_example("datasets.xlsx").

In [25]:
# exercise 5
excel_sheets(readxl_example("datasets.xlsx"))

ERROR: Error in excel_sheets(readxl_example("datasets.xlsx")): could not find function "excel_sheets"

### Exercise 6
Read data from the last sheet.

In [18]:
# exercise 6

     lat    long   depth mag stations
1    -20.42 181.62 562   4.8 41
2    -20.62 181.03 650   4.2 15
3    -26.00 184.10  42   5.4 43
4    -17.97 181.66 626   4.1 19
5    -20.42 181.96 649   4.0 11
6    -19.68 184.31 195   4.0 12
7    -11.70 166.10  82   4.8 43
8    -28.11 181.93 194   4.4 15
9    -28.74 181.74 211   4.7 35
10   -17.47 179.59 622   4.3 19
11   -21.44 180.69 583   4.4 13
12   -12.26 167.00 249   4.6 16
13   -18.54 182.11 554   4.4 19
14   -21.00 181.66 600   4.4 10
15   -20.70 169.92 139   6.1 94
16   -15.94 184.95 306   4.3 11
17   -13.64 165.96  50   6.0 83
18   -17.83 181.50 590   4.5 21
19   -23.50 179.78 570   4.4 13
20   -22.63 180.31 598   4.4 18
21   -20.84 181.16 576   4.5 17
22   -10.98 166.32 211   4.2 12
23   -23.30 180.16 512   4.4 18
24   -30.20 182.00 125   4.7 22
25   -19.66 180.28 431   5.4 57
26   -17.94 181.49 537   4.0 15
27   -14.72 167.51 155   4.6 18
28   -16.46 180.79 498   5.2 79
29   -20.97 181.47 582   4.5 25
30   -19.84 182.37 328   4.4 17
⋮    ⋮      ⋮      ⋮     ⋮   ⋮
971  -25.79 182.38 172   4.4  14
972  -23.75 184.50  54   5.2  74
973  -24.10 184.50  68   4.7  23
974  -18.56 169.05 217   4.9  35
975  -23.30 184.68 102   4.9  27
976  -17.03 185.74 178   4.2  32
977  -20.77 183.71 251   4.4  47
978  -28.10 183.50  42   4.4  17
979  -18.83 182.26 575   4.3  11
980  -23.00 170.70  43   4.9  20
981  -20.82 181.67 577   5.0  67
982  -22.95 170.56  42   4.7  21
983  -28.22 183.60  75   4.9  49
984  -27.99 183.50  71   4.3  22
985  -15.54 187.15  60   4.5  17
986  -12.37 166.93 291   4.2  16
987  -22.33 171.66 125   5.2  51
988  -22.70 170.30  69   4.8  27
989  -17.86 181.30 614   4.0  12
990  -16.00 184.53 108   4.7  33
991  -20.73 181.42 575   4.3  18
992  -15.45 181.42 409   4.3  27
993  -20.05 183.86 243   4.9  65
994  -17.95 181.37 642   4.0  17
995  -17.70 188.10  45   4.2  10
996  -25.93 179.54 470   4.4  22
997  -12.28 167.06 248   4.7  35
998  -20.13 184.20 244   4.5  34
999  -17.40 187.80  40   4.5  14
1000 -21.59 170.56 165   6.0 119

### Exercise 7
Load the dplyr package. Install and load the AER package and run the command data("Fertility") which loads the dataset Fertility to your workspace. Take a glimpse() at the data.

In [26]:
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [27]:
install.packages("AER")

also installing the dependencies 'rprojroot', 'diffobj', 'brio', 'desc', 'pkgload', 'praise', 'ps', 'waldo', 'testthat', 'SparseM', 'MatrixModels', 'sp', 'minqa', 'nloptr', 'RcppEigen', 'carData', 'abind', 'pbkrtest', 'quantreg', 'maptools', 'lme4', 'car', 'lmtest', 'sandwich', 'Formula'

  There are binary versions available but the source versions are later:
          binary source needs_compilation
diffobj    0.3.4  0.3.5              TRUE
brio       1.1.2  1.1.3              TRUE
desc       1.3.0  1.4.0             FALSE
pkgload    1.2.1  1.2.4             FALSE
waldo      0.2.5  0.3.1             FALSE
testthat   3.0.2  3.1.2              TRUE
sp         1.4-5  1.4-6              TRUE
nloptr   1.2.2.2  2.0.0              TRUE
carData    3.0-4  3.0-5             FALSE
quantreg    5.85   5.88              TRUE
maptools   1.1-1  1.1-2              TRUE
lme4      1.1-26 1.1-28              TRUE
car       3.0-10 3.0-12             FALSE
lmtest    0.9-38 0.9-39              TRUE
sandwich   3.0-0  3.0-1             FALSE

  Binaries will be installed
package 'rprojroot' successfully unpacked and MD5 sums checked
package 'diffobj' successfully unpacked and MD5 sums checked
package 'brio' successfully unpacked and MD5 sums checked
package 'praise' successfully unpacked and MD5 sums checked
package 'ps' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'ps'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\kahli\Anaconda3\envs\r tut\Lib\R\library\00LOCK\ps\libs\x64\ps.dll to C:\Users\kahli\Anaconda3\envs\r tut\Lib\R\library\ps\libs\x64\ps.dll: Permission denied"Warning message:
"restored 'ps'"

package 'testthat' successfully unpacked and MD5 sums checked
package 'SparseM' successfully unpacked and MD5 sums checked
package 'MatrixModels' successfully unpacked and MD5 sums checked
package 'sp' successfully unpacked and MD5 sums checked
package 'minqa' successfully unpacked and MD5 sums checked
package 'nloptr' successfully unpacked and MD5 sums checked
package 'RcppEigen' successfully unpacked and MD5 sums checked
package 'abind' successfully unpacked and MD5 sums checked
package 'pbkrtest' successfully unpacked and MD5 sums checked
package 'quantreg' successfully unpacked and MD5 sums checked
package 'maptools' successfully unpacked and MD5 sums checked
package 'lme4' successfully unpacked and MD5 sums checked
package 'lmtest' successfully unpacked and MD5 sums checked
package 'Formula' successfully unpacked and MD5 sums checked
package 'AER' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\kahli\AppData\Local\Temp\RtmpQp5URc\downloaded_packages

installing the source packages 'desc', 'pkgload', 'waldo', 'carData', 'car', 'sandwich'

In [28]:
library(AER)

Warning message:
"package 'AER' was built under R version 3.6.3"Loading required package: car
Loading required package: carData

Attaching package: 'car'

The following object is masked from 'package:dplyr':

    recode

Loading required package: lmtest
Warning message:
"package 'lmtest' was built under R version 3.6.3"Loading required package: zoo

Attaching package: 'zoo'

The following objects are masked from 'package:base':

    as.Date, as.Date.numeric

Loading required package: sandwich
Loading required package: survival

In [33]:
# exercise 7
data("Fertility")
glimpse(Fertility)

Rows: 254,654
Columns: 8
$ morekids <fct> no, no, no, no, no, no, no, no, no, no, yes, no, no, no, no, ~
$ gender1  <fct> male, female, male, male, female, male, female, male, female,~
$ gender2  <fct> female, male, female, female, female, female, male, male, mal~
$ age      <int> 27, 30, 27, 35, 30, 26, 29, 33, 29, 27, 28, 28, 35, 34, 32, 2~
$ afam     <fct> no, no, no, yes, no, no, no, no, no, no, no, no, no, no, no, ~
$ hispanic <fct> no, no, no, no, no, no, no, no, no, no, no, no, no, no, no, n~
$ other    <fct> no, no, no, no, no, no, no, no, no, no, no, no, no, no, no, n~
$ work     <int> 0, 30, 0, 0, 22, 40, 0, 52, 0, 0, 0, 52, 52, 52, 8, 7, 0, 40,~

### Exercise 8
Select rows 35 to 50 and print to console its age and work entry.

In [34]:
# exercise 8
Fertility[35:50,c(4,8)]

   age work
35 28  20
36 33  12
37 32   0
38 26  52
39 32  52
40 28   0
41 32  40
42 35   0
43 33   0
44 32  42
45 29   0
46 29  52
47 31   0
48 30  51
49 28   0
50 29   0

### Exercise 9
Select the last row in the dataset and print to console.

In [35]:
# exercise 9
tail(Fertility, 1)

       morekids gender1 gender2 age afam hispanic other work
254654 yes      female  female  35  no   no       no    0

### Exercise 10
Count how many women proceeded to have a third child.

In [46]:
# exercise 10
Fertility %>% count(morekids =='yes')

  morekids == "yes" n
1 FALSE             157742
2  TRUE              96912

### Exercise 11
There are four possible gender combinations for the first two children. Which is the most common?

In [40]:
# exercise 11

ERROR: Error in parse(text = x, srcfile = src): <text>:2:49: unexpected '='
1: # exercise 11
2: Fertility %>% count(gender1 == 'male' & gender2 =
                                                   ^